$accent-color:  #e5105b;
$text-color: #4e4e4e;

@mixin nav-decoration {
    content: '';
	position: absolute;
	bottom: 0;
	width: 10px;
	height: 2px;
	opacity: 0;
	background: $accent-color;
}
@mixin nav-link {
    font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:hover,&:focus {
        outline: none;
    }
}
@mixin nav-a {
    position: relative;
    min-width: 105px;
    text-align: center;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
}
.menu {
	line-height: 1;
    display: flex;
    align-items: center;;
    ul {
        position: relative;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        .item {
            position: relative;
            margin: 0 1em;
            .link {
                @include nav-link;
            }
            a {
                @include nav-a;
                &:hover {
                    color: $accent-color;
                }
                &:focus {
                    color: $accent-color;
                }
                &::after,&::before {
                    @include nav-decoration;
                    
                }
                
                &::before,&::after {
                    -webkit-transform: translate3d(0, 10px, 0);
                    transform: translate3d(0, 10px, 0);
                    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                    transition: transform 0.3s, opacity 0.3s;
                }
                &::before {
                    left: 0;
                    -webkit-transform-origin: 0% 0%;
                    transform-origin: 0% 0%;
                }
                &::after{
                    right: 0;
                    -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
                }
            }
            &::before {
                @include nav-decoration;
                left: 0;
                width: 100%;
                
            }
            &::before {
                left: 0;
                width: 100%;
                -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
            }
        }
        .current {
            a {
                color: $accent-color;
                &::before {
                    opacity: 1;
                }
                &::before {
                    -webkit-transform: rotate3d(0, 0, 1, -90deg);
                    transform: rotate3d(0, 0, 1, -90deg);
                }
                &::after {
                    opacity: 1;
                    -webkit-transform: rotate3d(0, 0, 1, 90deg);
                    transform: rotate3d(0, 0, 1, 90deg);
                }
            }
            &::before {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                -webkit-transition: -webkit-transform 0.3s, opacity 0.1s;
                transition: transform 0.3s, opacity 0.1s;
            }
        }
    }
}


.btn-main {
    background-color: transparent;
    color: $accent-color;
    border: 1px solid $accent-color;
    transition: all 0.7s;
    padding: 5px 20px;


    &:hover {
        box-shadow: 4px 4px $accent-color;
        transform: translateX(5px);
    }
}

.btn-sec {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.7s;
    padding: 5px 20px;

    &:hover {
        box-shadow: 4px 4px #fff;
        transform: translateX(5px);
    }
}

.nav {
    width: 100vw;
    height: 100px;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: #00000070;
    z-index: 100;
}

.logo {
    padding: 5px;
    img{
        height: 80px;
    }
}

.menu {
    height: 100px;
    .main-menu {
        display: flex;
        gap: 20px;
        height: 100px;
        justify-content: space-around;
        align-items: center;
    
            li {
                color: #fff;
                line-height: 1rem;
                cursor: pointer;
                &:hover {
                    color: $accent-color;
                    text-decoration: underline;
                    text-decoration-style: $accent-color ;
                }
                &:active {
                    text-decoration: underline;
                }
            }
        }
}

.section-title {
    max-width: 80%;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 30px;
    span {
        font-size: 1.3rem;
        color: $accent-color;
        font-weight: 400;
        text-transform: uppercase;;
    }
    h1 {
        color: $text-color;
        font-size: 2rem;
        font-weight: 400;
    }
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    

    div {
        text-align: center;
        h3 {
            color: $accent-color;
        }
        span {
            color: $text-color;
        }
    }
}

.with-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;

    div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: baseline;
        text-align: center;

        i{
            color: $accent-color;
            font-size: 1.5rem;
            text-align: center;
        }
        h4 {
            color: $text-color;
            font-size: 1.2rem;
        }
        p {
            color: $text-color;
            font-size: 0.2;
        }
    }
}

.services-items {
    text-align: left;
    align-items: center;
    i {
        font-size: 2rem;
        color: $accent-color; 
    }
    h2 {
        font-size: 1.3rem;
        color: $text-color;
        font-weight: 600;
        margin: 10px 0;
    }
    div {
        .service-title {
        i {
            font-size: 2rem;
            color: $accent-color;
        }
        
        h2 {
            font-size: 1.3rem;
            color: $text-color;
            font-weight: 600;
            margin: 10px 0;
        }       
        
    }
        .title {
            span {
            color: #f3f3f3;
            font-size: 5rem;
            line-height: 5rem;
            text-align: right;
            }
        }
    }
}

.portafolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    .portafolio-item {
        padding: 15px;
        .portafolio-item-inner {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            cursor: pointer;
            img {
                width: 100%;
                z-index: 10;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                &:hover {
                    opacity: 0.7;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                height: 100%;
                background-color: #fff;
                width: 80%;
                margin-top: -40px;
                padding: 30px 0;
                z-index: 20;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                h3 {
                    font-size: 1.3rem;
                    color: $text-color;
                    transition: all 0.5s;
                    &:hover {
                        color: $accent-color;
                    }
                }
                span {
                    color: $accent-color
                }
            }
        }
    }
    .portafolio-item.show {
        animation: fadeIn 1s ease-in;
    }
    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .portafolio-item.hide {
        display: none;
    }
}

.portafolio-filter {
    padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
    .filter-item {
        color: #000000;
        font-size: 0.9rem;
        text-transform: uppercase;
        display: inline-block;
        margin:0 10px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        line-height: 1.2;
        transition: all 0.3s ease;
        &:hover {
            color: $accent-color;
            border-color : $accent-color;
        }
    }
    .filter-item.active {
        color: $accent-color;
        border-color : $accent-color;
    }
}
